{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <title>Главная страница портала Ученика</title>
</head>
<body>
    Главная(вход.регистрация.просмотр аккаунта)
    <a href="/schedule">Расписание</a>
    <a href="/todolist">Список дел</a>
    <a href="/assist">Личный помощник</a>
    <a href="/quiz">Викторина</a>
</body>
</html>