{% extends 'mainapp/base.html' %} 

{% block title %}
Регистрация
{% endblock title%}

{% block content %}

<body>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">
              Введите данные для регистрации
            </h3>
            <form action="" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="username" class="form-label"
                  >Имя пользователя</label
                >
                {{ reg_form.username }}
                {% if reg_form.username.errors %}
                    <div class="text-danger">
                        {% for err in reg_form.username.errors %}
                        {{err}}
                        {% endfor %}
                    </div>
                
                {% endif %}
              </div>
              <div class="mb-3">
                <label for="first_name" class="form-label">Реальное имя</label>
                {{ reg_form.first_name }}
                {% if reg_form.first_name.errors %}
                <div class="text-danger">
                    {% for err in reg_form.first_name.errors %}
                    {{err}}
                    {% endfor %}
                </div>
            
            {% endif %}
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Почта</label>
                {{ reg_form.email }}
                {% if reg_form.email.errors %}
                <div class="text-danger">
                    {% for err in reg_form.email.errors %}
                    {{err}}
                    {% endfor %}
                </div>
            
            {% endif %}
              </div>
              <div class="mb-3">
                <label for="password1" class="form-label">Пароль</label>
                {{ reg_form.password1 }}
                {% if reg_form.password1.errors %}
                <div class="text-danger">
                    {% for err in reg_form.password1.errors %}
                    {{err}}
                    {% endfor %}
                </div>
            
            {% endif %}
              </div>
              <div class="mb-3">
                <label for="password2" class="form-label"
                  >Подтвердите пароль</label
                >
                {{ reg_form.password2 }}
                {% if reg_form.password2.errors %}
                <div class="text-danger">
                    {% for err in reg_form.password2.errors %}
                    {{err}}
                    {% endfor %}
                </div>
            
            {% endif %}
              </div>
              <button type="submit" class="btn btn-success w-100">
                Зарегистрироваться
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock content %}
